<div class="container-fluid">
  <div class="row">
    <div class="wrapper col-xs-6 col-xs-offset-3">
      <div id="part-1">
        <div class="row" id="container">
          <div class="col-xs-8 col-xs-offset-2">
            <p>Let's calculate whether you should buy an unlimited MetroCard or a regular paid card.</p>
            <p>Click start to begin.</p>
            <button id="start">Start</button>
          </div>
        </div>
      </div> <!-- END PART 1 -->

      <div id="part-2">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <p>On average, how many times a day do you take the subway during the week?</p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <select id="weekday">
              <option value="0">Not at all</option>
              <option value="1">Once a day</option>
              <option value="2">Twice a day</option>
              <option value="3">Three or more times a day</option>
            </select>
            <br><br>
            <button id="weekday-submit">Submit</button>
          </div>
        </div>
      </div><!--  END PART 2 -->

      <div id="part-3">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <p>On average, how many times a day do you take the subway on weekends and holidays?</p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <select id="weekend">
              <option value="0">Not at all</option>
              <option value="1">Once a day</option>
              <option value="2">Twice a day</option>
              <option value="3">Three or more times a day</option>
            </select>
            <br><br>
            <button id="weekend-submit">Calculate</button>
          </div>
        </div>
      </div> <!-- END PART 3 -->

      <div class="row">
        <div class="col-xs-8 col-xs-offset-2 answer">

        </div>
        <div class="col-xs-4 col-xs-offset-5 loading">
          <%= image_tag "loading.gif" %>
        </div>
      </div> <!-- END ANSWER -->


    </div>
  </div>
</div> <!-- END CONTAINER -->
<div class="row">
  <div class="col-xs-9 copyright">
    <p>Another project by <a href="//jasonleibowitz.org">Jason Leibowitz</a>. © 2014</p>
  </div>
</div>
